<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
    <div class="p-6">
        <h1 class="text-2xl font-bold mb-2">Hello, {username}!</h1>
        <p class="mb-4">If you have forgotten your password or if your password is currently not working, please contact an administrator.</p>
        <div class="bg-white p-4 rounded-md shadow-md mb-4">
            <h2 class="text-lg font-bold mb-2"></h2>
        </div>
        <p>Best regards,</p>
        <p>The Apoyar Team</p>
    </div>
</body>
</html>